@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
 --bar-height: 40px;
}

#main-window { padding-left: var(--bar-height) !important; background: black !important;}

#TabsToolbar {
  height: var( --bar-height) !important; 
  min-height: var( --bar-height) !important; 
  max-height: var( --bar-height) !important; 
  transform: rotate(90deg);
  transform-origin: 0 0;
  position: fixed;
  top: var(--bar-height);
  left: var(--bar-height);
  z-index: 10;
  width: 100vh !important;
  max-width: 100vh !important;
  min-width: 100vh !important;
}

.tabbrowser-tab {
  width: var( --bar-height) !important;
  min-width: var( --bar-height) !important;
  max-width: var( --bar-height)!important;
  height: var(--bar-height) !important;
  min-height: var(--bar-height) !important;
  max-height: var(--bar-height) !important;
}

.tabbrowser-tab .tab-icon-image {
  transform: rotate(-90deg);
  transform-origin: 50%;
}

.tab-close-button,
.tab-text {
  display: none;
}