@namespace html url("http://www.w3.org/1999/xhtml");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Pop-up bookmarks toolbar */

#navigator-toolbox #PersonalToolbar:not([customizing]) {
  position: fixed;
  display: flex;
  width: 100%;
  transition: min-height 170ms ease-out, 
    max-height 170ms ease-out, 
    background-color 0.1s cubic-bezier(.17,.67,.83,.67), 
    transform 0.3s linear 1s !important;
  transform: translateY(calc(-100% - 1px));
  z-index: 90;
}

#TabsToolbar, #nav-bar {
    z-index: 100;
}

#navigator-toolbox:hover #PersonalToolbar:not([customizing]) {
  transform: translateY(0);
  transition: min-height 170ms ease-out, 
    max-height 170ms ease-out, 
    background-color 0.1s cubic-bezier(.17,.67,.83,.67), 
    transform 0.1s linear 0.1s !important;
}