@import url(./Colors.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


#pageActionSeparator {
	display: none !important;
	visibility: collapse !important;
}

.tabbrowser-tab[selected] {
	background-color: var(--chrome-background-color) !important;
}

.toolbarbutton-1,
#nav-bar-overflow-button,
.urlbar-icon,
.tabbrowser-tab[selected] .tab-close-button ,
.tabbrowser-tab[selected] .tab-icon-image {
	fill: var(--chrome-secondary-background-color) !important;
	color: var(--chrome-secondary-background-color) !important;
}

.tabbrowser-tab::after,
.tabs-newtab-button,
#PersonalToolbar *.toolbarbutton-text,
#PersonalToolbar *.toolbarbutton-icon,
#new-tab-button,
#alltabs-button,
.titlebar-button,
.toolbarbutton-icon,
.tabbrowser-tab:not([selected]) .tab-close-button,
.tabbrowser-tab:not([selected]) .tab-icon-image {
	fill: var(--chrome-color) !important;
	color: var(--chrome-color) !important;
}
