@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


:root:-moz-lwtheme-brighttext {
  /*dark theme */
  --color-overflow: #fff !important;
  --chrome-secondary-background-color: #ddd !important;
  --chrome-color: #eee !important;
  --chrome-background-color: #444 !important;
  background-color: var(--chrome-background-color) !important;
}

:root:-moz-window-inactive:not(:moz-lwtheme-brighttext) {
  background-color: rgb(240, 240, 240) !important;
}

:root:-moz-lwtheme-darktext {
  /*light theme */
  --color-overflow: #111 !important;
  --chrome-color: #222 !important;
  --chrome-secondary-background-color: #333 !important;
  --chrome-background-color: #fff !important;
  background-color: var(--chrome-background-color) !important;
}

:root {
  /* default theme */
  --tabs-border: transparent !important;
  --toolbox-border-bottom-color: transparent !important;
  --chrome-nav-bar-controls-border-color: transparent !important;

  --color-overflow: -moz-win-accentcolortext !important;
  --chrome-color: -moz-win-accentcolortext !important;
  --chrome-secondary-background-color: -moz-win-accentcolor !important;
  --chrome-background-color: -moz-win-accentcolor !important;
  background-color: var(--chrome-background-color) !important;
}
