@import url(./Colors.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


.tabbrowser-tab[selected] {
	background-color: var(--chrome-background-color) !important;
}

#main-window #PersonalToolbar {
	background: inherit !important;
}

#nav-bar-overflow-button,
#nav-bar *.toolbarbutton-1,
.urlbar-icon,
.tabbrowser-tab[selected] .tab-close-button ,
.tabbrowser-tab[selected] .tab-icon-image {
	fill: var(--chrome-secondary-background-color) !important;
	color: var(--chrome-secondary-background-color) !important;
}

.tabbrowser-tab::after,
#titlebar *.toolbarbutton-1,
.tabs-newtab-button,
#PersonalToolbar *.toolbarbutton-text,
#PersonalToolbar *.toolbarbutton-icon,
#new-tab-button,
#alltabs-button,
.titlebar-button,
.scrollbutton-up,
.scrollbutton-down,
.tabbrowser-tab:not([selected]) .tab-close-button,
.tabbrowser-tab:not([selected]) .tab-icon-image {
	fill: var(--chrome-color) !important;
	color: var(--chrome-color) !important;
}
