@namespace html url("http://www.w3.org/1999/xhtml");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* thin scrollbars */

* {
  scrollbar-width: thin;
}

/* hide back/forward when cannot go */

#nav-bar:not([customizing='true']) #back-button[disabled="true"],
#nav-bar:not([customizing='true']) #forward-button[disabled="true"] {
	display: none !important;
}

/* hamburger button on the left */

#PanelUI-button {
	-moz-box-ordinal-group: 0 !important;
	transition: all 350ms var(--animation-easing-function) !important;
	transition-delay: 0.5s !important;
}

/* rounded corners on things */
.panel-arrowcontent,
#urlbar-background {
	border-radius: 10px !important;
}

toolbarbutton.toolbarbutton-1 .toolbarbutton-icon, .toolbarbutton-badge-stack, .tab-close-button {
	border-radius: 35% !important;
}

.bookmark-item .toolbarbutton-icon, .tab-icon-image {
	border-radius: 25% !important;
}

.bookmark-item {
  padding: 3px  6px !important;
  border-radius: 8px !important;
}

/* slightly transparent url bar */
#urlbar[focused=true] #urlbar-background {
	border-radius: 13px !important;
	/*backdrop-filter: blur(10px) !important;*/
	background-color: rgba(255, 255, 255, 0.95) !important;
	background-clip: content-box !important;
}

/* move things from url bar corners */

#page-action-buttons {
	margin-right: 3px !important;
}

#tracking-protection-icon-container, #identity-box {
	margin-left: 3px !important;
}

/* center bookmarks */

#personal-bookmarks {
	width: 100% !important;
}

#PlacesToolbarItems {
	-moz-box-pack: center !important;
}

/* do not remember */

#nav-bar {
	box-shadow: none !important;
}

/* display default favicon if no favicon found */

.tabbrowser-tab[fadein]:not([pinned]):not([busy]):not([busting]):not([progress]):not(:hover) .tab-icon-image:not([src]) {
  display: initial !important;
}

/* Replace favicon on tabs with close button on hover */

.tabbrowser-tab[fadein]:not([pinned]):not(:hover) .tab-close-button {
  display: none !important;
}

.tabbrowser-tab[fadein]:not([pinned]):hover .tab-close-button {
  display: block !important;
  -moz-box-ordinal-group: 0 !important;
}

.tabbrowser-tab[fadein]:not([pinned]):hover .tab-icon-stack {
	display: none !important;
}

.tabbrowser-tab[fadein]:not([pinned]) .tab-close-button {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.tabbrowser-tab[fadein] .tab-secondary-label {
	display: none !important;
}

.titlebar-buttonbox-container,
.titlebar-buttonbox.titlebar-color {
	min-height: 1px !important;
}

/* Compact UI */

.titlebar-spacer {
	width: 0px !important;
}

tab {
	min-width: 1px !important;
	padding: 0px !important;
	min-height: 29px !important;
}

#nav-bar, #nav-bar-customization-target, #urlbar-container, #urlbar, #urlbar-input-container, .toolbarbutton-1 {
	padding: 0px !important;
	margin: 0px !important;
}

#appMenu-popup .subviewbutton {
	margin: 2px 0px 2px 0px !important;
	padding: 2px 8px 2px 8px !important;
}

#appMenu-popup toolbarseparator,
.panel-subview-body,
.proton-zap {
	min-height: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
}
